<div>
    
    <div class="container">

        <div class="row search-image">
            <h1 style="color: white; letter-spacing: 2px; text-align: center">Search In The Clouds</h1>
        </div>

        <div class="row">
            <h1 class="well text-center">INFORMATION SECTION</h1>
        </div>

        <div class="row">

            <div class="col-sm-3 well">
                <label>What is this hype about ?</label>
            </div>

            <div class="col-sm-4 col-sm-offset-1 well">
                <label>Why is it good ?</label>
            </div>

            <div class="col-sm-3 col-sm-offset-1 well" >
                <label>On Going Work ?</label>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-6">
                <h1> Statistics section</h1>
                <p>We are currently working on to improve the mechanism to generate more statistics, which would help to visualize the system in a better way.</p>
            </div>

            <div class="col-sm-3 col-sm-offset-3 statistics-image">

            </div>
        </div>

    </div>

    <div class="container">
        <label> This is out footer</label>
    </div>
    
</div>
        