<!DOCTYPE html>
<html ng-app="app">

<head lang="en">
    <meta charset="UTF-8">
    <title>Sweep</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="https://rawgit.com/novus/nvd3/v1.1.15-beta/nv.d3.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Dosis|Lobster' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top" ng-controller="BoardHeaderController">

    <div class="container">
        <a href="/" class="navbar-brand specialFont">Sweep</a>

        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <li><a href ng-click="routeTo('/statistics')">Statistics</a></li>
            <li><a href ng-click="routeTo('/upload-landing')">Upload</a></li>
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown" role="button">Help<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href>About Us</a></li>
                </ul>
            </li>
        </ul>
    </div>
    
</div>

<!-- Div for view replacement. -->
<div id="viewReplaceDiv" ng-view></div>


<script src="components/angular/angular.js"></script>
<script src="components/angular-route/angular-route.js"></script>
<script src="components/jquery/jquery.min.js"></script>
<script src="components/bootstrap/bootstrap.js"></script>
<script src="https://rawgit.com/mbostock/d3/master/d3.min.js"></script>
<script src="https://rawgit.com/novus/nvd3/v1.1.15-beta/nv.d3.min.js"></script>
<script src="https://rawgit.com/krispo/angular-nvd3/master/dist/angular-nvd3.js"></script>
<script src="js/main/app.js"></script>
<script src="js/controller/BoardHeaderController.js"></script>
<script src="js/controller/LandingController.js"></script>
<script src="js/uploader/UploadController.js"></script>
<script src="js/service/common-service.js"></script>
<script src="js/statistics/StatisticsController.js"></script>
</body>
</html>