<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Search Main Page.</title>
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
</head>
<body>


<div class="container">
    
    <div class="search-input-wrapper">
        
        <form>
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Text to search ... ">
                        <span class="input-group-btn">
                            <button class="btn btn-info">Search</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
    
    
    <div class="search-result-wrapper">
        <label> This is result section.</label>
    </div>
    
</div>


<script src="../../components/angular/angular.js"></script>
<script src="../../js/main/sweep-main.js"></script>
<script src="../../components/jquery/jquery.min.js"></script>
<script src="../../components/bootstrap/bootstrap.js"></script>
</body>
</html>