<div class="sidebar curved-border" ng-controller="SidebarController">
<!--<label>Logo</label>-->

<div class="primary-opt">

    <ul class="nav nav-pills nav-stacked">
        <li><a ng-click="switchTo(modules.main)"><span class="glyphicon glyphicon-home sidebar-option"></span></a></li>
        <li><a ng-click="switchTo(modules.search)"><span class="glyphicon glyphicon-search sidebar-option"></span></a></li>
        <li><a ng-click="switchTo(modules.upload)"><span class="glyphicon glyphicon-upload sidebar-option"></span></a></li>
    </ul>

</div>

</div>