
<div>
    <div class="container">

        <div class="row">
            <div class="col-xs-3 text-right">
                <label class="control-label">Plot Type</label>
            </div>
            <div class="col-xs-4">
                <select class="form-control">
                    <option>Scatter Plot</option>
                </select>
            </div>
        </div>

        <div class="row well" style="margin-top: 20px">
            <nvd3 options="options" data="data"></nvd3>
            <br><a href="http://krispo.github.io/angular-nvd3/" target="_blank" style="float: right;">See more</a>
        </div>
    </div>
</div>
