<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Index Upload</title>
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
</head>
<body>

<div class="container wrapper">
    
    
    <div class="row">
        
        <div class="col-sm-7">
            
            <form class= "form-outline curved-border form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">Filename</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="File to Upload ... "/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">Language</label>
                    <div class="col-sm-4">
                        <select class="form-control">
                            <option>English</option>
                            <option>Swedish</option>
                            <option>Hindi</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">Category</label>
                    <div class="col-sm-4">
                        <select class="form-control">
                            <option>Video</option>
                            <option>Books</option>
                            <option>Audio</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label pull-left">Description</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" placeholder="Description ..." rows="15"></textarea>
                    </div>
                </div>


                <div class="form-group">
                    <div style="" class="col-sm-offset-5 col-sm-7 text-right">
                        <button class="btn btn-success">Submit</button>
                        <button class="btn btn-info">Refresh</button>
                    </div>
                </div>
            </form>
            
        </div>

        <div class="col-sm-offset-1 col-sm-4">
            <aside class="aside-outline curved-border text-center">
                <label>Directory Contents</label>
            </aside>
        </div>

        
    </div>
    

    
</div>


<script src="../../components/angular/angular.js"></script>
<script src="../../js/main/sweep-main.js"></script>
<script src="../../components/jquery/jquery.min.js"></script>
<script src="../../components/bootstrap/bootstrap.js"></script>
</body>
</html>