<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Upload Landing Page.</title>
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="../../css/main_test.css"/>
</head>
<body style="padding-top: 150px">

<div class="container">

    <div class="row">
        
        <div class="col-sm-8 col-sm-offset-2" style="border: 1px solid lightblue">
            <div class="row">
                <h1 class="text-center"> Upload to Sweep</h1>
            </div>
            
            <div class="row features text-center top-buffer bottom-buffer">
                
                <div class="col-sm-4">
                    <i class="glyphicon glyphicon-send"></i>
                    <h4>Upload Once</h4>
                    <p class="text-justify">The application allows user to upload local files to the cloud. A unique entry is created for the file and
                       distributed to the neighbouring nodes in the system.
                    </p>
                </div>
                
                
                <div class="col-sm-4">
                    <i class="glyphicon glyphicon-fire" style="color: indianred"></i>
                    <h4> Fire it Up.</h4>
                    <div class="well">
                        <p>Lets try uploading entries.</p>
                        <div class="text-center">
                            <button class="btn btn-success">Try Upload</button>
                        </div>
                    </div>
                </div>
                                     
                <div class="col-sm-4 ">
                    <i class="glyphicon glyphicon-search"></i>
                    <h4>Search Everywhere</h4>
                    <p class="text-justify">
                         Searching for an entry currently is based on the category in which the entry is located. After specifying the category, we locate the 
                        partitions in the category and fetch matching entries.
                    </p>
                </div>
                
            </div>
            <!---->
            <!--<div class="row">-->
                <!--<div class="col-sm-12">-->
                    <!--<p class="text-justify" style="font-size: 12px">-->
                        <!--<span style="color: orangered">Important:</span> This functionality is currently under testing.-->

                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        
    </div>
    
    
</div>
<script src="../../components/jquery/jquery.min.js"></script>
<script src="../../components/bootstrap/bootstrap.js"></script>
</body>
</html>