<div class="container">
    
    <div class="row">
        <h1 class="text-danger">About Us </h1>
    </div>
    <hr>
    <div class="row">
        <p style="font-size: 18px">
            Community networking (also known as bottom-up networking) is an emerging model for the Future
            Internet across Europe and beyond where communities of citizens can build, operate and own open IP-
            based networks, a key infrastructure for individual and collective digital participation.<br><br>
            The <b>CLOMMUNITY</b> project aims at addressing the obstacles for communities of citizens in bootstrapping, running and
            expanding community-owned networks that provide community services organised as community
            clouds. That requires solving specific research challenges imposed by the requirement of: self-
            managing and scalable (decentralized) infrastructure services for the management and aggregation
            of a large number of widespread low-cost unreliable networking, storage and home computing
            resources; distributed platform services to support and facilitate the design and operation of elastic,
            resilient and scalable service overlays and user-oriented services built over these underlying
            services, providing a good quality of experience at the lowest economic and environmental cost.<br>
            <b>Sweep</b>, the decentralized search is part of this Clommunity Project.
        </p>
        
    </div>
    
    <div class="row">
        <h1 class="text-danger">Contact Us</h1>
    </div>
    
    <hr>
    
    <div class="row">
        <ul class="list-unstyled">
            
            <li>
                <h4>Jim Dowling</h4>
                <label>jdowling@kth.se</label>
            </li>
            
            <li>
                <h4>Alexandru - Adrian Ormenisan</h4>
                <label>aaor@sics.se</label>
            </li>
            
            <li>
                <h4>Abhimanyu Babbar</h4>
                <label>babbar@kth.se</label>
            </li>
            
        </ul>
    </div>
    
</div>