
.form-outline{
    padding: 10px;
}
.curved-border{
    border: 1px solid grey;
    border-radius: 5px;
}

.aside-outline{
    padding: 10px;
}

.wrapper{
    width: 980px;
    padding-top: 50px;
}


.sidebar{
    position: absolute;
    width: 80px;
    height: 800px;
    padding: 10px;
}


.primary-opt{
    padding-top: 50px;
}
.sidebar-option{
    
 font-size: 20px;
}