
/* === MAIN PAGE STYLING === */

body {
    padding-top: 70px;
    font-family: 'Dosis', sans-serif;
}


div .search-image{
    background-image: url(../image/Galaxies_image.png);
    height: 500px;
}

div .network-image{
    background-image: url(../image/to-infinity-and-beyond.jpg);
    height: 500px;
}

div .infinity-image{
    background-image: url(../image/to-infinity-and-beyond.jpg);
    height: 350px;
}

div .availabilty-image{
    background-image: url(../image/availability.jpg);
    height: 500px;
}


div .statistics-image {
    background-image: url(../image/Statistics.jpg);
    height: 200px;
}

div .search-image h1{
    margin-top: 180px;
}

.features .glyphicon{
    font-size: 32px;

}

.top-buffer{
    margin-top : 30px;
}

.bottom-buffer {
    margin-bottom: 30px
}

#uploadLandingDiv{
    margin-top: 150px;
}


.specialFont{
    font-family: 'Lobster', cursive;
}

.notifications {
    width: 300px;
    position: fixed;
    top: 80px;
    right: 10px;
    z-index: 1000;
}

.medium-top-margin-buffer{
    margin-top: 80px
}