
/* === MAIN PAGE STYLING === */



/*.css-animation{*/
    /*width: 700px;*/
    /*border: 2px solid black;*/
    /*text-align: center;*/
    /*margin: 0 auto;*/

    /*-webkit-animation-name:first-animation;*/
    /*-webkit-animation-duration: 4s;*/
    /**/
    /*animation-name: first-animation;*/
    /*animation-duration: 5s;*/
/*}*/



/*@-webkit-keyframes first-animation{*/
    /*0% {*/
        /*display: none;*/
        /*opacity: 0;*/
    /*}*/
    /*1% {*/
        /*display: block;*/
    /*}*/
    /*100% {*/
        /*opacity: 1;*/
    /*}*/
/*}*/

/*@keyframes first-animation{*/
    /*0%{*/
        /*display: none;*/
    /*}*/
    /*100%{*/
        /*display: inline;*/
    /*}*/
/*}*/

/*.form-outline{*/
    /*padding: 10px;*/
/*}*/
/*.curved-border{*/
    /*border: 1px solid grey;*/
    /*border-radius: 5px;*/
/*}*/

/*.aside-outline{*/
    /*padding: 10px;*/
/*}*/

/*.wrapper{*/
    /*width: 980px;*/
    /*padding-top: 50px;*/
/*}*/


/*.sidebar{*/
    /*position: absolute;*/
    /*width: 80px;*/
    /*height: 800px;*/
    /*padding: 10px;*/
/*}*/


/*.primary-opt{*/
    /*padding-top: 50px;*/
/*}*/
/*.sidebar-option{*/
    /**/
 /*font-size: 18px;*/
/*}*/

/* =======  SEARCH CONTROLS ===== */


/*.search-input-wrapper{*/
    /**/
    /*margin: 0 auto;*/
    /*padding: 10px;*/
    /*background: lightgray;*/
    /*width: 600px;*/
/*}*/


/*.search-result-wrapper{*/
    /**/
    /*position: relative;*/
    /*padding: 20px;*/
    /*top: 100px;*/
    /*background: yellow;*/
    /*margin-top: 100px;*/
/*}*/



body{
    padding-top: 70px;
}


div .search-image{
    background-image: url(../image/Galaxies_image.png);
    height: 500px;
}


div .statistics-image {
    background-image: url(../image/Statistics.jpg);
    height: 200px;
}

div .search-image h1{
    margin-top: 180px;
}

.features .glyphicon{
    font-size: 32px;

}

.top-buffer{
    margin-top : 30px;
}

.bottom-buffer {
    margin-bottom: 30px
}

#uploadLandingDiv{
    margin-top: 150px;
}


